.events{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    align-content: center;
    padding: 5%;
    gap: 5%;
    width: 90%;
    height: 85%;
}

.events h1 {
    font-size: 5em;
    margin: 0;
}

.events p {
    font-size: 2em;
    margin: 0;
}

.events table {
    width: 100%;
    border-collapse: collapse;
}

.events table tr.border-bottom {
    border-bottom: 0.2em solid var(--a2);
}

.events table th {
    font-size: 2em;
    text-align: left;
}

.events table td {
    font-size: 2em;
    color: #ffffff;
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: fsalbert-light, sans-serif;
}

.events img {
    width: 50%;
    border-radius: 2em;
}