.connected_leaders {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*gap: 1em;*/
    background-color: #2c2c2c;
    width: 100%;
    height: 90%;
}

.connected_leaders h1 {
    width: 75%;
    font-size: 3em;
}

.connected_leaders p {
    /*margin: 2em;*/
    padding: 1em;
    font-size: 2em;
    width: 75%;
    border-style: solid;
    border-radius: 1em;
    line-height: 1.25em;
}

.connected_leaders .overview {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #2c2c2c;
    width: 100%;
    height:100%;
}

.connected_leaders .overview .theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    /*gap: 3em;*/
    background-color: #2c2c2c;
    width: 45%;
    font-size: 0.5em;
}

.connected_leaders .overview .theme h1 {
    font-size: 3em;
}

.connected_leaders .overview .theme p {
    font-size: 2em;
}

.connected_leaders .business_card {
    /*margin: 0.5em;*/
    padding: 2em;
    border-style: dashed;
    border-color: white;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: left;
    align-items: center;
    width: 75%;
    position: relative;
}

.connected_leaders .business_card img {
    object-fit: cover;
    width: 20%;
}

.connected_leaders .business_card img.picture {
    border-radius: 50%;
}

.connected_leaders .business_card img.qr {
    object-fit: cover;
    width: 20%;
}

.connected_leaders .business_card .entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 60%;
}

.connected_leaders .business_card .entry h1 {
    /*width: 80%;*/
    text-align: left;
    font-size: 3em;
}

.connected_leaders .business_card .entry h2 {
    /*width: 80%;*/
    text-align: left;
    font-size: 2em;
}

.connected_leaders .business_card em {
    font-style: italic;
    font-family: transportLight, sans-serif;
    font-size: 0.75em;
}

.connected_leaders table {
    width: 90%;
    border-collapse: collapse;
}

.connected_leaders table tr {

}

.connected_leaders table tr.border-bottom {
    border-bottom: 0.2em solid #ffce00;
    /*border-bottom-color: #ffce00;*/
}

.connected_leaders table .border {
    border-bottom: 0.1em solid #ffffff;
    /*border-bottom-color: #ffce00;*/
}

.connected_leaders table th {
    font-family: transportLight, sans-serif;
    font-size: 1.5em;
    color: #ffce00;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.connected_leaders table td {
    font-family: transportLight, sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.connected_leaders table td.red {
    color: #DC267F;
}

.connected_leaders table td.orange {
    color: #FE6100;
}

.connected_leaders table td.yellow {
    color: #FFB000;
}

.connected_leaders table td.blue {
    color: #648FFF;
}

.connected_leaders table td.violet {
    color: #785EF0;
}