.header{
    background-color: var(--b2);
}

.header .buttons .row img {
    background-color: var(--a4);
}

.header .header_content .page_icon {
    fill: var(--a2);
}

.header .page_name {
    color: var(--a4);
}

#date, #time{
    color: var(--a4);
}