.events{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;
}

.events h1 {
    color: var(--c4);
}

.events .week {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.week table {
    width: 90%;
    border-collapse: collapse;
}

.week table tr.border-bottom {
    border-bottom: 0.2em solid var(--a2);
}

.week table th {
    font-size: 2em;
    color: var(--c4);
    text-align: left;
    font-family: fsalbert-regular, sans-serif;
}

.week table td {
    font-size: 2em;
    color: #ffffff;
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: fsalbert-light, sans-serif;
}