.header{
    position: relative;
    z-index: 9;
    width: 100%;
    height: 10%;
    font-family: fsalbert-bold, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--b2);
}

.header .header_content{
    position: relative;
    display: flex;
    height: 100%;
    width: 60%;
    flex-direction: row;
    gap: 2.5%;
    align-items: center;
    padding-left: 2.5%;
}

.header .header_datetime{
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 5%;
    padding-right: 2.5%;
    font-size: 1.5em;
}

.header .header_content .page_icon {
    position: relative;
    height: 4em;
    fill: var(--a2);
}

.header .page_name {
    position: relative;
    color: var(--a4);
    text-align: left;
    font-size: 4em;
    font-weight: bold;
}

#date, #time{
    font-family: fsalbert-regular, sans-serif;
    color: var(--a4);
}