.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 90%;
    width: 100%;
}

.information .entry {
    display: flex;
    position: relative;
    flex-direction: row;
}

.information table {
    width: 90%;
    height: 75%;
    font-family: fsalbert-light, sans-serif;
}

.information table tr {
    vertical-align: center;
}

.information table td {
    vertical-align: center;
    text-align: left;
    font-size: 3em;
    color: #ffffff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}