.lunch_and_learn {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    align-content: center;
    height: 85%;
    width: 90%;
    gap: 5%;
}

.lunch_and_learn .heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.lunch_and_learn .heading img {
    height: 9em;
}

.lunch_and_learn .heading .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lunch_and_learn .heading .info h1 {
    text-align: right;
    font-family: fsalbert-bold, sans-serif;
    font-size: 5em;
}

.lunch_and_learn .heading .info .author {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1em;
}

.lunch_and_learn .heading .info .author h2 {
    text-align: right;
    font-family: fsalbert-regular, sans-serif;
    font-size: 4em;
}

.lunch_and_learn .heading .info .author img {
    height: 4em;
    border-radius: 50%;
}

.lunch_and_learn .column_wrapper {
    column-count: 2;
    column-gap: 5%;
    width: 100%;
}

.lunch_and_learn .column_wrapper p {
    font-family: fsalbert-light, sans-serif;
    text-align: justify;
    width: 100%;
    margin-bottom: 5%;
}