.news {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    /*align-content: stretch;*/
    justify-content: space-around;
    height: 90%;
    width: 100%;
    background-color: #2c2c2c;
}

.news .nonews {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    width: 90%;
}

.news .nonews p {
    font-size: 2em;
}

.news .nonews img {
    width: 20%;
}

.news article {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /*padding: 1.75em 1.75em 1.75em 1.75em ;*/
    background-color: #2c2c2c;
    /*border-radius: 5px;*/
    /*margin: 1.5em 1.5em 1.5em 1.5em;*/
    width: 45%;
    /*height: 20%;*/
}

.news article h1{
    position: relative;
    font-family: transportMedium, sans-serif;
    font-size: 2.5em;
    color: #ffce00;
}

.news article h2{
    position: relative;
    font-family: transportMedium, sans-serif;
    font-size: 1.5em;
    color: #ffffff;
}

.news p {
    position: relative;
    font-family: transportLight, sans-serif;
    font-size: 1.75em;
    color: #ffffff;
}

.news article img {
    border-radius: 5px 5px 0 0;
    display: block;
    /*margin-bottom: 1.75em;*/
    /*margin-left: -1.75em;*/
    /*margin-top: -1.75em;*/
    position: relative;
    width: 20%;
    /*box-shadow: 0px -2px 2px rgba(34,34,34,0.6);*/
}

.news .staff {
    margin: 0.5em;
    padding: 0.5em;
    border-style: dashed;
    border-color: white;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: left;
    align-items: center;
    width: 100%;
    position: relative;
}

.news .staff img {
    object-fit: cover;
    width: 20%;
    border-radius: 50%;
}

.news .staff h1 {
    /*width: 80%;*/
    font-size: 1.5em;
}