:root {
    --a1: #231f20;
    --a2: #80c342;
    --a3: #4d6572;
    --a4: #e6e7e8;
    --b1: #0c3e5f;
    --b2: #2b6b80;
    --b3: #a7a9ac;
    --b4: #3a88c8;
    --c1: #707473;
    --c2: #406A75;
    --c3: #61abcf;
    --c4: #16aeb2;
}

html {
    position: relative;
    min-width: 1080px;
    max-width: 1080px;
    min-height: 1920px;
    max-height: 1920px;
    background-color: var(--a1);
}

/* Content */

#ukrrin_logo{
    position: relative;
    width: 80%;
}

.iframe{
    position: relative;
    height: 100%;
    width: 100%;
    border: none;
    z-index: -1;
}

/* Animations */

.element_fade_out {
    animation: fade_out 0.5s linear forwards;
}

.element_fade_in {
    animation: fade_in 0.5s linear forwards;
}

@keyframes fade_out {
    from { opacity: 1;}
    to { opacity: 0;}
}
@keyframes fade_in {
    from { opacity: 0;}
    to { opacity: 1;}
}