.header{
    background-color: var(--light_purple);
}

.header .buttons .row img {
    background-color: var(--white);
}

.header .header_content .page_icon {
    fill: var(--blue);
}

.header .page_name {
    color: var(--white);
}

#date, #time{
    color: var(--white);
}